.Card {
  width: 125px;
  height: 175px;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
  display: inline-block;
}

.CardFocus {
  width: 125px;
  height: 175px;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
  display: inline-block;
}

.Card:hover {
  position: relative;
  bottom: 15px;
  cursor: pointer;
}

.UnoCard {
  width: 125px;
  height: 175px;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
  display: inline-block;
  background-color: rgb(44, 44, 44);
}

.UnoCardUnFocus {
  width: 175px;
  height: 125px;
  color: white;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid gray;
  margin: 5px 5px -90px 5px;
  background-color: rgb(44, 44, 44);
}

.UnoCard:hover {
  cursor: pointer;
}

.CenterText {
  font-size: 80px;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniTextRight {
  display: flex;
  justify-content: end;
  height: 30px;
  align-items: flex-end;
}

.miniTextLeft {
  display: flex;
  justify-content: start;
  height: 30px;
  align-items: flex-start;
}

.CenterImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 168px;
}

.CenterImageBot {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 122px;
}

.CenterImageBotLeft {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 122px;
}