@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

.Home {
  padding: 20px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desks {
  display: flex;
  justify-content: center;
}

.play {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.win {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}